In [240]:
import requests
import pandas as pd
import numpy as np
import fonctions
from pulp import LpProblem, LpVariable, LpMaximize, lpSum, LpBinary

pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

url = "https://fantasy.premierleague.com/api/bootstrap-static/"
response = requests.get(url)

if response.status_code == 200:
    data = response.json()
    print("Nombre de joueurs récupérés :", len(data["elements"]))
    # Exemple : afficher le nom du premier joueur
    print("Premier joueur :", data["elements"][0]["web_name"])
else:
    print("Erreur lors de la requête :", response.status_code)

Nombre de joueurs récupérés : 741
Premier joueur : Raya

In [241]:
fixtures_url = "https://fantasy.premierleague.com/api/fixtures/"
fixtures_response = requests.get(fixtures_url)
fixtures = fixtures_response.json()
print("Nombre de matchs à venir :", len(fixtures))

Nombre de matchs à venir : 380

In [242]:
df_teams = pd.DataFrame(data['teams'])[["id", "name", "short_name", "strength", "strength_overall_home", "strength_overall_away", "strength_attack_home", "strength_attack_away", "strength_defence_home", "strength_defence_away"]]

# Renommer pour clarté
df_teams = df_teams.rename(columns={
    'name': 'team_name'
})

# Ajout d'une colonne AvgStrenght
df_teams["avg_strenght"] = (df_teams["strength_overall_home"] + df_teams["strength_overall_away"]) / 2
df_teams.sort_values(by=["strength", "avg_strenght"] , inplace=True, ascending=False)

In [243]:
df_fixtures = pd.DataFrame(fixtures)

# Pour chaque match, récupérer les noms d'équipes à domicile et à l'extérieur
df_fixtures = df_fixtures.merge(df_teams, left_on='team_h', right_on='id', suffixes=('', '_home'))
df_fixtures = df_fixtures.merge(df_teams, left_on='team_a', right_on='id', suffixes=('', '_away'))

In [244]:
# Ajout du FDR pour chacune des équipes sur les 6 prochaines journées
# Supposons df_teams contient l'ID officiel de chaque club dans la colonne 'id'

team_fdr = []

for team_id in df_teams['id']:
    # Sélectionne les fixtures où l'équipe est à domicile
    home = df_fixtures[(df_fixtures['team_h'] == team_id) & (df_fixtures['finished'] == False)][['event', 'team_h_difficulty']]
    home = home.rename(columns={'team_h_difficulty': 'difficulty'})
    # Sélectionne les fixtures où l'équipe est à l'extérieur
    away = df_fixtures[(df_fixtures['team_a'] == team_id) & (df_fixtures['finished'] == False)][['event', 'team_a_difficulty']]
    away = away.rename(columns={'team_a_difficulty': 'difficulty'})
    # Concatène toutes les futures fixtures
    all_fixtures = pd.concat([home, away], ignore_index=True)
    # Trie par numéro de GW et garde les 6 prochaines
    next_six = all_fixtures.sort_values('event').head(6)
    # Calcule la moyenne du FDR
    fdr_mean = next_six['difficulty'].mean()
    team_fdr.append(fdr_mean)

# Ajoute la colonne FDR moyen au DataFrame équipes
df_teams['fdr_next_6'] = team_fdr

In [245]:
df_teams

,id,team_name,short_name,strength,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,avg_strenght,fdr_next_6
11,12,Liverpool,LIV,5,1335,1355,1290,1330,1380,1380,1345.0,3.333333
0,1,Arsenal,ARS,4,1320,1325,1350,1350,1290,1300,1322.5,2.666667
12,13,Man City,MCI,4,1275,1315,1250,1250,1300,1380,1295.0,3.000000
6,7,Chelsea,CHE,4,1185,1245,1150,1190,1220,1300,1215.0,2.833333
14,15,Newcastle,NEW,4,1185,1245,1130,1170,1240,1320,1215.0,3.000000
1,2,Aston Villa,AVL,3,1125,1250,1110,1200,1140,1300,1187.5,3.333333
15,16,Nott'm Forest,NFO,3,1165,1205,1150,1230,1180,1180,1185.0,2.833333
3,4,Bournemouth,BOU,3,1150,1180,1100,1160,1200,1200,1165.0,3.166667
5,6,Brighton,BHA,3,1150,1175,1090,1140,1210,1210,1162.5,3.000000
4,5,Brentford,BRE,3,1120,1185,1080,1080,1160,1290,1152.5,3.166667
17,18,Spurs,TOT,3,1130,1175,1100,1100,1160,1250,1152.5,2.666667
7,8,Crystal Palace,CRY,3,1140,1160,1120,1130,1160,1190,1150.0,3.333333
9,10,Fulham,FUL,3,1125,1125,1130,1130,1120,1120,1125.0,3.333333
13,14,Man Utd,MUN,3,1105,1125,1110,1110,1100,1140,1115.0,3.166667
19,20,Wolves,WOL,3,1100,1125,1080,1100,1120,1150,1112.5,2.833333
8,9,Everton,EVE,3,1100,1115,1140,1140,1060,1090,1107.5,2.833333
18,19,West Ham,WHU,3,1100,1100,1100,1100,1100,1100,1100.0,2.833333
10,11,Leeds,LEE,2,1050,1075,1050,1050,1050,1100,1062.5,2.666667
2,3,Burnley,BUR,2,1050,1050,1050,1050,1050,1050,1050.0,3.166667
16,17,Sunderland,SUN,2,1050,1050,1050,1050,1050,1050,1050.0,3.000000

In [246]:
df_positions = pd.DataFrame(data['element_types'])[["id", "singular_name_short"]]
df_positions.set_index('id', inplace=True)
df_positions

   singular_name_short
id
1                  GKP
2                  DEF
3                  MID
4                  FWD

In [247]:
# Selection des colonnes pertinentes 
df_players = pd.DataFrame(data['elements'])[['id', 'first_name', 'web_name', 'team', 'element_type', 'now_cost', 'total_points',
'ict_index', 'selected_by_percent', 'selected_rank', 'form', 'transfers_in', 'transfers_in_event', 'transfers_out', 'transfers_out_event','minutes', 
'assists','goals_scored', 'expected_goals', 'expected_assists', 'expected_goal_involvements','expected_goals_per_90', 'saves_per_90',
'expected_assists_per_90', 'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90', 'goals_conceded_per_90',
'defensive_contribution_per_90']]

In [248]:
# Conversion des types
df_players['ict_index'] = df_players['ict_index'].astype(float)
df_players['total_points'] = df_players['total_points'].astype(float)
df_players['minutes'] = df_players['minutes'].astype(float)
df_players['goals_scored'] = df_players['goals_scored'].astype(float)
df_players['form'] = df_players['form'].astype(float)
df_players['assists'] = df_players['assists'].astype(float)
df_players['expected_goals'] = df_players['expected_goals'].astype(float)
df_players['expected_assists'] = df_players['expected_assists'].astype(float)
df_players['expected_goal_involvements'] = df_players['expected_goal_involvements'].astype(float)
df_players['expected_goals_per_90'] = df_players['expected_goals_per_90'].astype(float)
df_players['saves_per_90'] = df_players['saves_per_90'].astype(float)
df_players['expected_assists_per_90'] = df_players['expected_assists_per_90'].astype(float)
df_players['expected_goal_involvements_per_90'] = df_players['expected_goal_involvements_per_90'].astype(float)
df_players['expected_goals_conceded_per_90'] = df_players['expected_goals_conceded_per_90'].astype(float)
df_players['goals_conceded_per_90'] = df_players['goals_conceded_per_90'].astype(float)
df_players['defensive_contribution_per_90'] = df_players['defensive_contribution_per_90'].astype(float) 
df_players['now_cost'] = df_players['now_cost'].astype(float)

# Joindre le nom de l'équipe sur la colonne 'team' (qui contient l'ID)
df_players = df_players.merge(df_teams[['id','team_name', 'short_name']], left_on='team', right_on='id', suffixes=('', '_team'))
# Joindre la position du joueur sur la colonne 'element_type' (ID)
df_players = df_players.merge(df_positions, left_on='element_type', right_on='id', suffixes=('', '_pos'))
# Ajout d'une colonne points total / prix
df_players.insert(loc=6, column="points_per_cost", value=df_players['total_points'] / df_players['now_cost'])
df_players.insert(loc=6, column="points_per_minutes", value=df_players['total_points'] / df_players['minutes'])
# Ajout d'une colonne GI
df_players.insert(loc=6, column="goal_involvements", value=df_players['assists'] + df_players['goals_scored'])
# Ajout d'une colonne GI_on_xGI
df_players.insert(loc=6, column="GI_on_xGI", value=df_players['goal_involvements'] / df_players['expected_goal_involvements'])
# Tri
df_players.sort_values(by=["points_per_cost", "total_points", "ict_index"] , inplace=True, ascending=False)
# Conversion
df_players['selected_by_percent'] = df_players['selected_by_percent'].astype(str).str.replace(',', '.').astype(float)

# Ajout de la colonne fdr_nex_6 depuis df_teams
df_players = df_players.merge(
    df_teams[['team_name', 'fdr_next_6']],
    on='team_name',
    how='left'
)

# Sélectionner les colonnes intéressantes pour plus de lisibilité
df_players = df_players[[
'id', 'first_name', 'web_name', 'short_name', 'team_name', 'singular_name_short', 'now_cost', 'total_points', 'points_per_cost', 'points_per_minutes', 'fdr_next_6',
'ict_index', 'selected_by_percent', 'selected_rank', 'form', 'minutes', 'transfers_in', 'transfers_in_event', 'transfers_out', 'transfers_out_event',
'assists','goals_scored', 'goal_involvements', 'expected_goals', 'expected_assists', 'expected_goal_involvements', "GI_on_xGI", 'expected_goals_per_90', 'saves_per_90', 'expected_assists_per_90',
'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90', 'goals_conceded_per_90',
'defensive_contribution_per_90'    
]]

# Renommer pour clarté
df_players = df_players.rename(columns={
    'name': 'team_name',
    'short_name': 'team_short',
    'singular_name_short': 'position',
    'now_cost': 'price'
})

# Conversion des types
df_players['points_per_cost'] = df_players['points_per_cost'].astype(float)

# Gestion des NaN
for col in ['points_per_cost', 'ict_index', 'points_per_minutes', 'fdr_next_6']:
    df_players[col] = pd.to_numeric(df_players[col], errors='coerce').fillna(0)

# Enrichissement avec les stats avancées des n derniers matchs
df_players = fonctions.enrich_players_with_last_n_matches_data(df_players, n_last_matches=8)

# Ajout de la colonne total_points_last_per_xGI_last
df_players['total_points_last_per_xGI_last'] = df_players.apply(
    lambda row: row['total_points_last'] / row['xGI_last'] if row['xGI_last'] > 0 else 0,
    axis=1
)

# Remplacer les infinis par 0
df_players.replace([np.inf, -np.inf], 0, inplace=True) 

df_players.set_index("id", inplace=True)

In [249]:
df_players[df_players['position'] == 'MID'].head(20)

,first_name,web_name,team_short,team_name,position,price,total_points,points_per_cost,points_per_minutes,fdr_next_6,ict_index,selected_by_percent,selected_rank,form,minutes,transfers_in,transfers_in_event,transfers_out,transfers_out_event,assists,goals_scored,goal_involvements,expected_goals,expected_assists,expected_goal_involvements,GI_on_xGI,expected_goals_per_90,saves_per_90,expected_assists_per_90,expected_goal_involvements_per_90,expected_goals_conceded_per_90,goals_conceded_per_90,defensive_contribution_per_90,minutes_last,xGI_last,xG_last,ict_last,total_points_last,total_points_last_per_xGI_last
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
200,Jaidon,Anthony,BUR,Burnley,MID,55.0,34.0,0.618182,0.076923,3.166667,38.1,2.7,106,6.3,442.0,339411,168618,77694,34806,1.0,3.0,4.0,2.06,0.53,2.59,1.544402,0.42,0.0,0.11,0.53,1.90,1.43,7.74,88.4,0.518,0.412,7.62,6.8,13.127413
241,Moisés,Caicedo,CHE,Chelsea,MID,56.0,33.0,0.589286,0.073333,2.833333,26.0,11.8,37,6.7,450.0,939669,295261,312537,78741,0.0,2.0,2.0,0.44,0.20,0.64,3.125000,0.09,0.0,0.04,0.13,1.14,1.00,14.80,90.0,0.128,0.088,5.20,6.6,51.562500
660,Anton,Stach,LEE,Leeds,MID,50.0,29.0,0.580000,0.064444,2.666667,33.8,2.3,124,6.3,450.0,286209,243121,64449,37861,2.0,1.0,3.0,0.61,0.55,1.16,2.586207,0.12,0.0,0.11,0.23,1.30,1.40,8.60,90.0,0.232,0.122,6.76,5.8,25.000000
205,Josh,Cullen,BUR,Burnley,MID,50.0,27.0,0.540000,0.063981,3.166667,24.9,2.0,132,3.0,422.0,290093,14847,117287,26356,1.0,1.0,2.0,0.08,0.56,0.64,3.125000,0.02,0.0,0.12,0.14,1.93,1.49,11.52,84.4,0.128,0.016,4.98,5.4,42.187500
82,Antoine,Semenyo,BOU,Bournemouth,MID,77.0,41.0,0.532468,0.091111,3.166667,41.0,50.0,2,6.7,450.0,5180074,707845,468015,53883,2.0,3.0,5.0,2.78,0.26,3.04,1.644737,0.56,0.0,0.05,0.61,0.72,1.00,8.40,90.0,0.608,0.556,8.20,8.2,13.486842
303,James,Garner,EVE,Everton,MID,50.0,25.0,0.500000,0.055556,2.833333,23.8,0.7,211,4.3,450.0,87086,28956,28548,8577,0.0,1.0,1.0,0.19,0.43,0.62,1.612903,0.04,0.0,0.09,0.13,1.41,1.00,12.80,90.0,0.124,0.038,4.76,5.0,40.322581
26,Martín,Zubimendi,ARS,Arsenal,MID,55.0,27.0,0.490909,0.060000,2.666667,19.1,4.2,86,6.3,450.0,403573,98516,196025,47330,0.0,2.0,2.0,0.26,0.12,0.38,5.263158,0.05,0.0,0.02,0.07,0.66,0.40,6.80,90.0,0.076,0.052,3.82,5.4,71.052632
390,Ryan,Gravenberch,LIV,Liverpool,MID,56.0,27.0,0.482143,0.075000,3.333333,26.5,3.4,99,6.7,360.0,382382,304295,59241,30039,1.0,2.0,3.0,0.29,0.32,0.61,4.918033,0.07,0.0,0.08,0.15,0.56,0.75,9.25,72.0,0.122,0.058,5.30,5.4,44.262295
427,Tijjani,Reijnders,MCI,Man City,MID,57.0,26.0,0.456140,0.057778,3.000000,28.4,33.6,7,4.7,450.0,2588689,530710,1131009,110374,2.0,1.0,3.0,0.67,0.36,1.03,2.912621,0.13,0.0,0.07,0.20,1.29,1.00,6.40,90.0,0.206,0.134,5.68,5.2,25.242718
237,Enzo,Enzo,CHE,Chelsea,MID,67.0,30.0,0.447761,0.068493,2.833333,32.2,12.7,30,5.7,438.0,1390926,83671,480564,173764,2.0,2.0,4.0,1.93,0.46,2.39,1.673640,0.40,0.0,0.09,0.49,1.16,1.03,5.75,87.6,0.478,0.386,6.44,6.0,12.552301
299,Iliman,Ndiaye,EVE,Everton,MID,65.0,28.0,0.430769,0.066986,2.833333,31.5,10.8,42,6.0,418.0,636607,346641,641324,66152,1.0,2.0,3.0,1.31,0.42,1.73,1.734104,0.28,0.0,0.09,0.37,1.31,1.08,10.98,83.6,0.346,0.262,6.30,5.6,16.184971
84,Marcus,Tavernier,BOU,Bournemouth,MID,55.0,23.0,0.418182,0.056650,3.166667,24.3,1.6,145,2.7,406.0,233488,15548,114826,22514,0.0,1.0,1.0,0.92,0.46,1.38,0.724638,0.20,0.0,0.10,0.30,0.78,1.11,9.75,81.2,0.276,0.184,4.86,4.6,16.666667
160,Yankuba,Minteh,BHA,Brighton,MID,59.0,24.0,0.406780,0.058111,3.000000,33.1,1.3,164,6.3,413.0,107290,62735,95402,17546,1.0,1.0,2.0,1.25,0.75,2.00,1.000000,0.27,0.0,0.16,0.43,1.41,1.31,7.85,82.6,0.400,0.250,6.62,4.8,12.000000
612,Lucas,L.Paquetá,WHU,West Ham,MID,59.0,24.0,0.406780,0.056206,2.833333,31.9,3.4,98,4.3,427.0,462063,25164,248434,91007,0.0,2.0,2.0,1.46,0.31,1.77,1.129944,0.31,0.0,0.07,0.38,1.53,2.74,8.64,85.4,0.354,0.292,6.38,4.8,13.559322
324,Alex,Iwobi,FUL,Fulham,MID,65.0,26.0,0.400000,0.066327,3.333333,25.3,1.7,140,5.7,392.0,120414,52995,100354,14399,2.0,1.0,3.0,0.29,0.80,1.09,2.752294,0.07,0.0,0.18,0.25,1.44,1.15,5.51,78.4,0.218,0.058,5.06,5.2,23.853211
668,Granit,Xhaka,SUN,Sunderland,MID,50.0,20.0,0.400000,0.044444,3.000000,24.1,2.9,104,4.3,450.0,152281,31830,149820,23958,2.0,0.0,2.0,0.12,0.40,0.52,3.846154,0.02,0.0,0.08,0.10,1.05,0.80,11.20,90.0,0.104,0.024,4.82,4.0,38.461538
242,Kiernan,Dewsbury-Hall,EVE,Everton,MID,50.0,19.0,0.380000,0.042222,2.833333,32.2,4.9,71,5.0,450.0,395886,82740,335094,78949,1.0,1.0,2.0,0.31,1.33,1.64,1.219512,0.06,0.0,0.27,0.33,1.41,1.00,5.60,90.0,0.328,0.062,6.44,3.8,11.585366
593,Pape Matar,P.M.Sarr,TOT,Spurs,MID,50.0,19.0,0.380000,0.055072,2.666667,17.5,2.7,107,3.3,345.0,253024,15416,243305,72589,1.0,1.0,2.0,0.31,0.26,0.57,3.508772,0.08,0.0,0.07,0.15,1.22,0.26,8.35,69.0,0.114,0.062,3.50,3.8,33.333333
90,Alex,Scott,BOU,Bournemouth,MID,50.0,19.0,0.380000,0.057927,3.166667,16.6,0.3,301,5.0,328.0,33392,12744,11286,4087,0.0,1.0,1.0,0.22,0.20,0.42,2.380952,0.06,0.0,0.05,0.11,0.81,0.82,9.88,65.6,0.084,0.044,3.32,3.8,45.238095
582,Mohammed,Kudus,TOT,Spurs,MID,66.0,25.0,0.378788,0.056948,2.666667,36.2,32.3,8,4.0,439.0,1919156,316122,1101246,166428,4.0,0.0,4.0,0.64,1.02,1.66,2.409639,0.13,0.0,0.21,0.34,1.23,0.62,5.95,87.8,0.332,0.128,7.24,5.0,15.060241

In [250]:
df_players.to_parquet('df_players.parquet')
df_positions.to_parquet('df_positions.parquet')
df_teams.to_parquet('df_teams.parquet')

In [251]:
df_players.fillna(0, inplace=True)

In [252]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
Index: 741 entries, 72 to 658
Data columns (total 39 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   first_name                         741 non-null    object
 1   web_name                           741 non-null    object
 2   team_short                         741 non-null    object
 3   team_name                          741 non-null    object
 4   position                           741 non-null    object
 5   price                              741 non-null    float64
 6   total_points                       741 non-null    float64
 7   points_per_cost                    741 non-null    float64
 8   points_per_minutes                 741 non-null    float64
 9   fdr_next_6                         741 non-null    float64
 10  ict_index                          741 non-null    float64
 11  selected_by_percent                741 non-null    float64
 12  selected_rank                      741 non-null    int64
 13  form                               741 non-null    float64
 14  minutes                            741 non-null    float64
 15  transfers_in                       741 non-null    int64
 16  transfers_in_event                 741 non-null    int64
 17  transfers_out                      741 non-null    int64
 18  transfers_out_event                741 non-null    int64
 19  assists                            741 non-null    float64
 20  goals_scored                       741 non-null    float64
 21  goal_involvements                  741 non-null    float64
 22  expected_goals                     741 non-null    float64
 23  expected_assists                   741 non-null    float64
 24  expected_goal_involvements         741 non-null    float64
 25  GI_on_xGI                          741 non-null    float64
 26  expected_goals_per_90              741 non-null    float64
 27  saves_per_90                       741 non-null    float64
 28  expected_assists_per_90            741 non-null    float64
 29  expected_goal_involvements_per_90  741 non-null    float64
 30  expected_goals_conceded_per_90     741 non-null    float64
 31  goals_conceded_per_90              741 non-null    float64
 32  defensive_contribution_per_90      741 non-null    float64
 33  minutes_last                       741 non-null    float64
 34  xGI_last                           741 non-null    float64
 35  xG_last                            741 non-null    float64
 36  ict_last                           741 non-null    float64
 37  total_points_last                  741 non-null    float64
 38  total_points_last_per_xGI_last     741 non-null    float64
dtypes: float64(29), int64(5), object(5)
memory usage: 231.6+ KB